CREATE TYPE "scraping_mode" AS ENUM (
  'backfill',
  'monitor'
);

CREATE TABLE "job_board_websites" (
  "name" varchar PRIMARY KEY,
  "website_url" varchar NOT NULL
);

CREATE TABLE "scraper_state" (
  "board_name" varchar PRIMARY KEY,
  "last_uid" varchar,
  "last_seen_at" timestamp,
  "mode" scraping_mode,
  "updated_at" timestamp
);

CREATE TABLE "countries" (
  "code" char(2) PRIMARY KEY,
  "name" varchar NOT NULL
);

CREATE TABLE "languages" (
  "code" varchar PRIMARY KEY,
  "name" varchar NOT NULL
);

CREATE TABLE "language_levels" (
  "level" varchar PRIMARY KEY
);

CREATE TABLE "experience_levels" (
  "level" varchar PRIMARY KEY
);

CREATE TABLE "workplace_types" (
  "type" varchar PRIMARY KEY
);

CREATE TABLE "working_times" (
  "type" varchar PRIMARY KEY
);

CREATE TABLE "skill_levels" (
  "level" integer PRIMARY KEY
);

CREATE TABLE "skills" (
  "name" varchar PRIMARY KEY
);

CREATE TABLE "currencies" (
  "code" varchar PRIMARY KEY,
  "symbol" varchar,
  "name" varchar
);

CREATE TABLE "employment_units" (
  "unit" varchar PRIMARY KEY
);

CREATE TABLE "employment_types" (
  "type" varchar PRIMARY KEY
);

CREATE TABLE "offer_salaries" (
  "id" INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
  "offer_id" integer NOT NULL,
  "currency" varchar NOT NULL,
  "salary_min" integer NOT NULL,
  "salary_max" integer,
  "is_gross" boolean NOT NULL,
  "unit" varchar NOT NULL,
  "type" varchar NOT NULL
);

CREATE TABLE "offer_categories" (
  "name" varchar PRIMARY KEY
);

CREATE TABLE "companies" (
  "id" INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
  "name" varchar NOT NULL,
  "size" smallint,
  "country_code" char(2) NOT NULL,
  "website_url" varchar,
  "logo_url" varchar
);

CREATE TABLE "offers" (
  "id" INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
  "job_board_name" varchar NOT NULL,
  "company_id" integer NOT NULL,
  "title" varchar NOT NULL,
  "description" text,
  "apply_url" varchar NOT NULL,
  "experience_level" varchar NOT NULL,
  "workplace_type" varchar NOT NULL,
  "working_time" varchar NOT NULL,
  "publish_date" timestamp NOT NULL,
  "expire_date" timestamp NOT NULL,
  "raw_json" jsonb
);

CREATE TABLE "offers_categories" (
  "offer_id" integer,
  "category_name" varchar,
  PRIMARY KEY ("offer_id", "category_name")
);

CREATE TABLE "offers_languages" (
  "offer_id" integer NOT NULL,
  "language_code" varchar NOT NULL,
  "language_level" varchar,
  PRIMARY KEY ("offer_id", "language_code")
);

CREATE TABLE "offers_skills" (
  "offer_id" integer NOT NULL,
  "skill_name" varchar NOT NULL,
  "skill_level" integer,
  PRIMARY KEY ("offer_id", "skill_name")
);

CREATE TABLE "offers_optional_skills" (
  "offer_id" integer NOT NULL,
  "skill_name" varchar NOT NULL,
  "skill_level" integer NOT NULL,
  PRIMARY KEY ("offer_id", "skill_name")
);

CREATE TABLE "offers_locations" (
  "offer_id" integer NOT NULL,
  "location_id" integer NOT NULL,
  PRIMARY KEY ("offer_id", "location_id")
);

CREATE TABLE "locations" (
  "id" INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
  "country_code" char(2) NOT NULL,
  "city" varchar NOT NULL,
  "street" varchar,
  "latitude" decimal NOT NULL,
  "longitude" decimal NOT NULL
);

CREATE INDEX ON "offer_salaries" ("offer_id");

CREATE INDEX ON "offers" ("publish_date");

CREATE INDEX ON "offers" ("experience_level", "publish_date");

CREATE INDEX ON "offers_categories" ("category_name");

ALTER TABLE "scraper_state" ADD FOREIGN KEY ("board_name") REFERENCES "job_board_websites" ("name");

ALTER TABLE "offer_salaries" ADD FOREIGN KEY ("offer_id") REFERENCES "offers" ("id");

ALTER TABLE "offer_salaries" ADD FOREIGN KEY ("currency") REFERENCES "currencies" ("code");

ALTER TABLE "offer_salaries" ADD FOREIGN KEY ("unit") REFERENCES "employment_units" ("unit");

ALTER TABLE "offer_salaries" ADD FOREIGN KEY ("type") REFERENCES "employment_types" ("type");

ALTER TABLE "companies" ADD FOREIGN KEY ("country_code") REFERENCES "countries" ("code");

ALTER TABLE "offers" ADD FOREIGN KEY ("job_board_name") REFERENCES "job_board_websites" ("name");

ALTER TABLE "offers" ADD FOREIGN KEY ("company_id") REFERENCES "companies" ("id");

ALTER TABLE "offers" ADD FOREIGN KEY ("experience_level") REFERENCES "experience_levels" ("level");

ALTER TABLE "offers" ADD FOREIGN KEY ("workplace_type") REFERENCES "workplace_types" ("type");

ALTER TABLE "offers" ADD FOREIGN KEY ("working_time") REFERENCES "working_times" ("type");

ALTER TABLE "offers_categories" ADD FOREIGN KEY ("offer_id") REFERENCES "offers" ("id");

ALTER TABLE "offers_categories" ADD FOREIGN KEY ("category_name") REFERENCES "offer_categories" ("name");

ALTER TABLE "offers_languages" ADD FOREIGN KEY ("offer_id") REFERENCES "offers" ("id");

ALTER TABLE "offers_languages" ADD FOREIGN KEY ("language_code") REFERENCES "languages" ("code");

ALTER TABLE "offers_languages" ADD FOREIGN KEY ("language_level") REFERENCES "language_levels" ("level");

ALTER TABLE "offers_skills" ADD FOREIGN KEY ("offer_id") REFERENCES "offers" ("id");

ALTER TABLE "offers_skills" ADD FOREIGN KEY ("skill_name") REFERENCES "skills" ("name");

ALTER TABLE "offers_skills" ADD FOREIGN KEY ("skill_level") REFERENCES "skill_levels" ("level");

ALTER TABLE "offers_optional_skills" ADD FOREIGN KEY ("offer_id") REFERENCES "offers" ("id");

ALTER TABLE "offers_optional_skills" ADD FOREIGN KEY ("skill_name") REFERENCES "skills" ("name");

ALTER TABLE "offers_optional_skills" ADD FOREIGN KEY ("skill_level") REFERENCES "skill_levels" ("level");

ALTER TABLE "offers_locations" ADD FOREIGN KEY ("offer_id") REFERENCES "offers" ("id");

ALTER TABLE "offers_locations" ADD FOREIGN KEY ("location_id") REFERENCES "locations" ("id");

ALTER TABLE "locations" ADD FOREIGN KEY ("country_code") REFERENCES "countries" ("code");

